-# app/views/admin/dashboard/index.html.haml
%h1 Admin Dashboard
%ul
  %li= link_to "Manage Eggs", admin_eggs_path
  %li= link_to "Manage Pets", admin_pets_path
  %li= link_to "Manage Abilities", admin_abilities_path 
