-# app/views/pets/_energy_display.html.haml
-# Expects: user_pet
%div.mb-4
  %span.font-semibold= "Energy: #{user_pet.energy} / #{UserPet::MAX_ENERGY}"
  %div.w-full.bg-gray-200.rounded-lg.h-2.mt-1
    %div.bg-green-500.h-2.rounded-lg{ style: "width: #{user_pet.energy}%;" }
- if user_pet.energy >= UserPet::MAX_ENERGY
  %div.mt-1.text-sm.text-gray-600
    Energy is at Max
- else
  %div.mt-1.text-sm.text-gray-600{ data: {
      controller: 'countdown',
      countdown_seconds_value: user_pet.seconds_until_next_energy,
      user_pet_id: user_pet.id
    } }
    Next energy in
    %span{ data: { countdown_target: 'output' } } Loading...
