-# app/views/pets/show.html.haml
.container.mx-auto.mt-16.text-center
  %h1.text-3xl.font-bold.mb-6= @pet.name
  - if @pet.pet_types.any?
    %p.text-sm.text-gray-600.mb-4
      %strong Types:
      = @pet.pet_types.map(&:name).join(", ")
  %p.text-gray-600.mb-2
    %strong Power:
    = @pet.power
  %p.text-gray-600.mb-2
    %strong Rarity:
    = @pet.rarity.name