<div class="mx-auto w-full max-w-4xl px-4 pb-28">
  <%= render "explorations/zone_card",
             generated_exploration: generated_exploration,
             user_exploration: user_exploration,
             requirement_progress: requirement_progress,
             requirement_groups: requirement_groups,
             available_pets: available_pets,
             selected_pet_ids: selected_pet_ids,
             filters: filters,
             state: state,
             show_filters: false,
             compact_layout: true %>
</div>
