- content_for :head do
  = stylesheet_link_tag "explorations", "data-turbo-track": "reload"

- content_for :main_classes_override, "explorations-main"
- content_for :main_inner_classes_override, "explorations-main__inner"
- content_for :main_style, "display: flex; flex-direction: column; min-height: 0;"

.explorations-page
  %header.explorations-page__intro
    %p.explorations-page__eyebrow Expedition Log
    %h1.explorations-page__title Leading the way
    %p.explorations-page__subtitle
      Choose a destination, assemble your party, and push deeper into the wilds.

  .explorations-page__content
    = turbo_frame_tag "worlds-list", class: "explorations-page__frame" do
      = render "explorations/worlds_list",
               generated_explorations: @generated_explorations,
               active_explorations: @active_explorations,
               requirement_map: @requirement_map,
               selected_generated: @selected_generated,
               slot_entries: @slot_entries
