- generated = @user_exploration.generated_exploration
- card_dom_id = dom_id(generated, :detail)
- active_progress = generated&.requirements_progress_for(@user_exploration.user_pets) || []

= turbo_stream.update card_dom_id do
  = render "explorations/zone_card",
           generated_exploration: generated,
           user_exploration: @user_exploration,
           state: :active,
           requirement_progress: active_progress,
           requirement_groups: active_progress.group_by { |req| req[:source] || 'base' },
           available_pets: [],
           selected_pet_ids: [],
           filters: {}

= turbo_stream.replace "worlds-list" do
  = render "explorations/worlds_list",
           slot_entries: @slot_entries
