-# app/views/user_pets/interact_preview.turbo_stream.haml

- frame_id = "interaction-action"

= turbo_stream.update frame_id do
  = render "user_pets/interact_preview", 
      user_pet: @user_pet,
      interaction: @interaction,
      required_item: @required_item,
      user_qty: @user_qty,
      item_info: @item_info
