-# app/views/items/index.html.haml

.container.mx-auto.mt-16.px-4
  %h1.text-3xl.font-bold.mb-6 Your Inventory

  - if @user_items.any?
    %div.grid.grid-cols-1.sm:grid-cols-2.lg:grid-cols-3.gap-6
      - @user_items.each do |user_item|
        - details = @item_details[user_item.item.item_type] || {}
        = render partial: "item_card",
                 locals: { user_item: user_item, details: details }
  - else
    %p.text-gray-500.text-center You don’t have any items yet.
